.calendar {
  text-align: center; }

.calendar__code--lock {
  opacity: 0.7; }
.calendar__code--lock:hover {
  opacity: 1; }
.calendar__code--lock .calendar__days {
  pointer-events: none; }

.calendar__day {
  flex: 1;
  min-width: 14%;
  max-width: 15%;
  cursor: pointer; }
  .calendar__day day {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    font-size: 13px; }
    .calendar__day day:hover {
      background-color: lightblue; }
  .calendar__day--highlight day {
    background-color: greenyellow; }
  .calendar__day--today day {
    background-color: #ebebeb;
    border-radius: unset; }
  .calendar__day--today:hover day:hover {
    border-radius: 50%; }
  .calendar__day--off, .calendar__day--exp, .calendar__day--different-month {
    cursor: default !important;
    color: grey !important;
    background-color: unset !important; }
    .calendar__day--off day, .calendar__day--exp day, .calendar__day--different-month day {
      background: unset !important; }
  .calendar__day--off day {
    text-decoration: line-through; }
  .calendar__day--select day {
    background-color: unset; }
  .calendar__day--select {
    background-color: lightblue; }
    .calendar__day--select day {
      background-color: unset; }
    .calendar__day--select.calendar__day--highlight day {
      background-color: greenyellow; }
  .calendar__day--select-lock {
    pointer-events: none;
    color: grey; }

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px; }

.calendar__header {
  display: flex;
  justify-content: space-between;
  background-color: #c40316;
  color: white;
  align-items: center;
  padding: 5px 10px; }

.calendar__info {
  display: none;
  text-align: left;
  margin-bottom: 16px;
  font-size: 12px; }
  .calendar__info span {
    font-weight: bold;
    background-color: #ebebeb; }
  .calendar__info:after {
    content: '';
    display: block;
    clear: both; }

.calendar__nav {
  float: left;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  padding: 0;
  cursor: pointer; }
  .calendar__nav--prev {
    text-align: left; }
  .calendar__nav--next {
    text-align: right; }

.calendar__reset {
  float: right; }

.calendar__week-names {
  display: flex;
  background-color: lightgray;
  font-size: 12px;
  padding: 5px; }

.calendar__weekday {
  flex: 1; }
